@import "./components/pane/index.css";

body {
  margin: 0;
}

.panel {
  max-width: 620px;
  width: 100%;
  padding: 7.5px;
  background: #f4f4f4;
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
}

.panel__panes {
  width: 100%;
}

.panel__logo {
  text-align: center;
  line-height: 30px;
  font-size: 8px;
  font-family: proxima-nova;
}

.panel__logo--image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  bottom: 1px;
  width: 46px;
  height: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('http://images.mic.com/imssae54vbpk5hrejovyd8ma9lceqmoqvedcdxkkroghuzcjbzxct9fttufvprss.jpg');
}

.panel__logo:before {
  content: 'powered by ';
}
