@import "./components/pane/index.css";

body {
  margin: 0;
}

.panel {
  width: 100%;
  max-width: 605px;
  padding: calc(15px / 2);
  background: #F4F4F4;
  position: relative;
  text-align: center;
}

.panel__panes {
  width: 100%;
}

.panel__logo {
  text-align: center;
  line-height: 30px;
  font-size: 8px;
  font-family: proxima-nova;
}

.panel__logo--image {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  bottom: 1px;
  width: 46px;
  height: 9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('http://images.mic.com/imssae54vbpk5hrejovyd8ma9lceqmoqvedcdxkkroghuzcjbzxct9fttufvprss.jpg');
}

.panel__logo:before {
  content: 'powered by ';
}
