.pane {
  font-family: proxima-nova;
  font-weight: 600;
  border-top: solid 3px #00de98;
  width: 186.66667px;
  height: 257px;
  background: white;
  margin: 7.5px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.pane__command {
  font-size: 11px;
  text-align: center;
  color: #00de98;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 30px;
  line-height: 30px;
}

.pane__command--petition:before {
  content: 'Sign';
}

.pane__command--event:before {
  content: 'Attend';
}

.pane__command--fund:before {
  content: 'Donate';
}

.pane__image {
  height: 105px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pane__info {
  position: relative;
  margin: 15px;
}

.pane__platform {
  font-size: 10px;
  color: #ccc;
  margin-bottom: 3px;
}

.pane__name {
  font-size: 11px;
}

.pane__link {
  margin-top: 5px;
  display: inline-block;
  font-size: 10px;
  color: #00de98;
}

.pane__link--petition:before {
  content: 'Sign this petition';
}

.pane__link--event:before {
  content: 'Attend this event';
}

.pane__link--fund:before {
  content: 'Donate to this cause';
}

.pane__number {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-size: 8px;
  color: #bbb;
}

.pane__number--petition:after {
  content: ' supporters'
}

.pane__number--event:before {
  content: 'Capacity is '
}

.pane__number--fund:before {
  content: '$'
}

.pane__number--fund:after {
  content: ' raised'
}
