.builder {
  font-family: proxima-nova;
}

.option-panes {
  width: 100vw;
  margin: auto;
  text-align: center;
}

.option-pane {
  display: inline-block;
  width: calc(100% / 3);
  max-width: 300px;
}

.generate-iframe {
  cursor: pointer;
  background: black;
  color: white;
  display: block;
  padding: 5px;
  width: 152px;
}
